# This is a basic workflow to help you get started with Actions

name: First-workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  location: Pune
  Org: Persistent
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      my_name: Indrayank
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
            echo Hello, $my_name ...!!!
            echo My employee id is ${{vars.emp_id}}.

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo I am working in $location at $Org and my EMployee ID is ${{vars.emp_id}}.
          echo Current repository is ${{ github.repository }}.
          echo Workflow name is ${{ github.workflow }}.
          echo Triggered by ${{ github.actor }}.
      - name: Checking repository secret
        run: |
          echo The repository secret is ${{ secret.my_key }}
